body{
	background-color: aliceblue!important;
}
.bg-primary{
	background:rgb(255, 128, 128)!important;
}
.banner{
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url(../img/img.jpeg);
	background-size: cover; 
	color: white;
    background-repeat: no-repeat;
	

}

.text-center{
	text-align: center; /* Center the text horizontally */
    /* Add some padding for content */
    position: absolute; /* Position the div absolutely */
    left:35%;
    top: 1%; 
    background: aliceblue!important;
}
.my-card{
	padding: 20px;
	background: ffffff;
}
.form-group{
	top: 80%;
}